@mixin custom-layout($layout, $align, $justify) {
  display: flex;
  flex-direction: $layout;
  align-items: $align;
  justify-content: $justify;
}

@mixin custom-font($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
